.profile-overlay-conatiner {
    .profile-overlay-wrapper {
          //   padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 20px;
        width: 290px;
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-bottom: 10px;
          }
    
          h3 {
            font-size: 1.2rem;
            margin: 5px 0;
            color: #333;
          }
    
          p {
            font-size: 0.9rem;
            color: #777;
          }
      }
  
      .upgrade-btn-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
        border-radius: 24px;
        background: linear-gradient(268deg, #0FC0ED -11.11%, #096D87 115.15%);
        
  
        a {
            width: 100%;
          display: flex;
          align-items: center;
          padding: 13px;
          border-radius: 5px;
          text-decoration: none;
          color: #fff;
          font-weight: bold;
        //   justify-content: center;
        //   gap: 20px;
  
          svg {
            margin-right: 5px;
          }
          span {
            flex: 1; // Takes up remaining space to center the text
            text-align: center; // Centers the text within its flex space
          }
        }
      }
  
      .horizontal-line {
        border: none;
        border-top: 1px solid #ddd;
        margin: 15px 0;
      }

      .btn-wrapper {
        margin-bottom: 10px;
      }
  
      .mange-profile-btn-wrapper,
      .account-settings-btn-wrapper,
      .help-support-btn-wrapper {
        margin: 12px 0;
        a {
          display: flex;
          align-items: center;
          justify-content: space-between; // Ensures space between icon and text
          background-color: rgba(15, 192, 237, 0.12);
          padding: 13px;
          border-radius: 24px;
      
          span {
            flex: 1; // Takes up remaining space to center the text
            text-align: center; // Centers the text within its flex space
          }
        }
      }
      
  
      .signout-btn-wrapper {
        a {
          display: flex;
          align-items: center;
          padding: 13px;
          text-decoration: none;
          color: #e74c3c;
          transition: background-color 0.3s;
          border-radius: 24px;
          background: rgba(227, 54, 41, 0.12);
  
          svg {
            margin-right: 8px;
          }
  
          span {
            flex: 1; // Takes up remaining space to center the text
            text-align: center; // Centers the text within its flex space
          }
  
          &:hover {
            background-color: #f9e6e6;
          }
        }
      }
    }
  }
  
  