.upload-input-container {
    margin-bottom: 16px;
  
    .helper-text {
      font-size: 12px;
      color: #8c8c8c;
  
      &.error {
        color: #ff4d4f;
      }
    }
  
    .ant-btn {
      display: flex;
      align-items: center;
    }
  }
  