.ai-doctor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.ai-dotor-wrapper {
  width: 100%;
  border-radius: 24px;
  background: linear-gradient(135deg, #2e2e82, #000 40%, #000 60%, #2e2e82);
  padding: 40px;
  text-align: center;
}

.title-bar {
  margin-bottom: 20px;

  .ai-doctor-title {
    color: #FFF;
        font-family: Manrope;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
   

    span {
        background: linear-gradient(90deg, #0DB1DB 41.62%, #0AA866 62.63%, #8C53C4 82.64%, #0DB1DB 103.91%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Manrope;
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
  }
}

.specification-channels {
  

  .specification-channel-wrapper{
    display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
    .spec-list-left{
        :nth-child(2){
            margin-right: 35px;
        }
      }
    
      .spec-list-right{
        :nth-child(2){
            margin-left: 35px;
        }
      }
      
      .spec-list-left,
      .spec-list-right {
        width: auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
    
        
    
        .list {
          border-radius: 48px;
          border: 1px solid rgba(255, 255, 255, 0.75);
          background: linear-gradient(
            93deg,
            rgba(255, 255, 255, 0.25) -22.81%,
            rgba(255, 255, 255, 0) 110.16%
          );
          font-size: 16px;
          color: #fff;
          padding: 10px;
        }
      }
    
      .ai-center-img {
    
        img {
          max-width: 100%;
          height: auto;
        }
      }
  }
}

.waitlist-btn {
  margin-top: 40px;

  .join-btn {
    width: auto;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    cursor: pointer;

    &:hover {
      background-color: #0056b3;
    }
  }
}
