.ticket-chat-container {
  display: flex;
  padding: 20px;

  .ticket-chat-wrapper {
    display: flex;
    width: 100%;
  }

  .ticket-list-section {
    width: 30%;
    height: 100%; // Ensure the container takes full height
    display: flex;
    flex-direction: column;
    .title-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      h2 {
        font-size: 18px;
        font-weight: bold;
      }
      .crete-ticket-btn {
        padding: 8px 16px;
        border-radius: 24px;
        background: #0fc0ed;
        color: white;
      }
    }
    .ticket-list {
        margin-top: 10px;
        flex-grow: 1; // Allow the ticket list to take available space
        overflow-y: auto; // Enable vertical scrolling
        max-height: 65vh;
        -ms-overflow-style: none; // For Internet Explorer and Edge

    &::-webkit-scrollbar {
      display: none; // For Chrome, Safari, and other WebKit-based browsers
    }
      .ticket-card {
        border: 2px solid #e1e0e0;
        padding: 20px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 16px;

        &.active {
          background: rgba(15, 192, 237, 0.08);
          border: none;
        }

        .ticket-card-wrapper{
            display: flex;
            justify-content: space-between;
            .card-row-1{
                p:first-child{
                    margin-bottom: 20px;
                }
            }
            .card-row-2{
                align-items: center;
                p:first-child{
                    margin-bottom: 20px;
                }

                .ticket-status{
                    border-radius: 24px;
background: rgba(15, 192, 237, 0.25);
text-align: center;
padding: 5px;
                }
            }
        }
      }
    }
  }

  .vertical-line {
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
  }

  .ticket-overview {
    width: 70%;
    .overview-wrapper {
      .overview-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .ticket-details {
        display: flex;
        align-items: center;

        .ticket-initial-container {
          .initial-wrapper {
            width: 50px;
            height: 50px;
            background-color: #ddd;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: bold;
          }
        }

        .ticket-creator {
          margin-left: 10px;
        }

        .ticket-content {
          margin-top: 20px;
          p {
            color: #666;
          }
        }
      }
    }
    .no-ticket-message {
      font-size: 16px;
      color: #888;
      text-align: center;
    }
  }
}
