.reset-password-container{
   display: flex;
   justify-content: center;
    .reset-password-wrapper{
        
        .rp-title-section{
            text-align: center;
            max-width: 440px;
            h1{
                color: #232C2B;
                font-family: Manrope;
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
            p{
                margin-top: 20px;
                color: rgba(35, 44, 43, 0.75);
                text-align: center;
                font-family: Manrope;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }.rp-input-section{
           max-width: 440px;
           margin-top: 40px;
           .internal-input-reset-password{
        
           }
        }
        .re-btn-section{
            margin-top: 40px;
            max-width: 440px;
            .reset-pass-btn{
                background: #0FC0ED;
                padding: 15px;
                border-radius: 48px;
                color: #FFF;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.4px
            }
        }
        .re-login-redirect-btn{
            margin-top: 40px;
            text-align: center;
          a{
            color: #0FC0ED;
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
        }
        .re-signup-redirect-btn{
            margin-top: 60px;
            text-align: center;
            color: #232C2B;
font-family: Manrope;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
             a{
                color: #0FC0ED;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
             }
        }

    }
}