

@import '../../Style/variables';
@import '../../Style/mixins';

.phone-input-container {
    border-radius: 25px;
    height: 50px; 
    background: transparent;

    & .MuiOutlinedInput-notchedOutline {
        border: solid 2px $input-border; // Match your design
        border-radius: 25px; 
    }

    & input {
        padding: 16px 5px; 
        line-height: normal; 
        background: transparent;
    }
    .helper-text {
        color: red;
        font-size: 0.875rem;
    }
}




.react-tel-input {
.form-control {
    border-radius: 25px;
    height: 50px;
    .selected-flag{
        border-radius:50%;
    }
}
}