// src/styles/_variables.scss

// Primary colors
$primary-color: #3375D8;      // Blue
$primary-light: #5dade2;      // Light Blue
$primary-dark: #2980b9;       // Dark Blue

// Secondary colors
$secondary-color: #e74c3c;    // Red
$secondary-light: #f1948a;     // Light Red
$secondary-dark: #c0392b;      // Dark Red

// Neutral colors
$white: #ffffff;
$black: #000000;
$gray-light: #ecf0f1;         // Light Gray
$gray: #bdc3c7;                // Gray
$gray-dark: #7f8c8d;          // Dark Gray

// Additional colors
$success-color: #2ecc71;      // Green
$warning-color: #f1c40f;      // Yellow
$info-color: #3498db;         // Info Blue

// button
$primary-button: #3375D8;  
$primary-button-font: #FFFFFF;

//input 
$input-background: #353D4A;
$input-border: rgba(0, 0, 0, 0.15);
$input-font-color:#232C2B;

//input validation
$input-Error: rgba(237, 67, 55, 0.75);