.date-picker {
    width: 100%; 


    & .MuiOutlinedInput-notchedOutline {
        border-radius: 25px;
        border: solid 2px gray;
        background: transparent;
        bottom: 1px;
    }

    & .MuiInputAdornment-root {
        margin-right: 8px; 
    }
    
    .helper-text {
        color: red;
        font-size: 0.875rem;
    }
}


