.model-overlay-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .model-overlay-container-wrapper {
        position: relative;
    background: #f9f8f8; /* Overlay content background */
    padding: 20px;
    max-width: 900px;
    width: 100%; /* Responsive width */
    max-height: 95vh; /* Ensure the content fits within the viewport */
    overflow-y: auto; /* Enables scrolling inside the wrapper if content exceeds max-height */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

        .cancel-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: rgb(204, 50, 50);
            padding: 12px;
            border: none;
            cursor: pointer;
            font-size: 20px;
            border-radius: 50%;

            .cancel-icon {
                color: #888;
                font-weight: bold;
                &:hover {
                    color: #333;
                }
            }
        }
    }
}
