.about-doctor-container {
  display: flex;
  justify-content: center;
  // padding: 20px;
}

.about-doctor-wrapper {
  display: flex;
  // background-color: #fff;
  border-radius: 25px;
  padding: 0 20px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 75vh;
  overflow-y: auto;
}

.about-col-1 {
  // display: flex;
  // flex-direction: row;
   background-color: #fff;
   border-radius: 25px;
  gap: 15px;
  flex: 1;
  padding: 20px;
  height: 75vh;

  .doctor-image-wrapper{
    margin: 0 auto;
    width: 345px;
  }
}
.about-title-section{
  color: #232C2B;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.about-col-2 {
  flex: 2;
  padding: 0 20px;
  overflow-y: auto;
  height: 75vh;
  scrollbar-width: none;
}

img {
  width: 100%;
  border-radius: 26px;
  // height: 100%;
}

.doctor-fees-section {
  padding: 10px;
  // background-color: #ffffff;
  border-radius: 480px;
  text-align: center;
}

.doctor-detail-wrapper p {
  font-size: 20px;
  font-weight: bold;
}

.doctor-detail-wrapper span {
  font-size: 16px;
  color: #666;
  margin-left: 5px;
}

.doctor-fees-wrapper{
  padding: 16px;
  border-radius: 200px;
border: 1px solid rgba(35, 44, 43, 0.15);
background: rgba(35, 44, 43, 0.04);
margin-top: 20px;
}

.rating-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  p {
    display: flex;
    align-items: center;
  }
  span {
    display: flex;
    align-items: center;
    margin-left: 8px;

    color: rgba(35, 44, 43, 0.5);
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.rating-starts-wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  background: #0fc0ed;
  padding: 5px 8px;
  color: white;
  border-radius: 25px;
}

.about-doc-content p {
  margin-top: 10px;
  color: #232c2b;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p span {
  margin-left: 5px;
}

.horizontal-line {
  border-bottom: 2px solid rgb(185, 185, 185);
  margin: 20px 0;
}

.doctor-slot-section {
  display: flex;
  .slot-date-btn {
    background-color: #c8c6c6;
    margin: 12px;
    padding: 12px;
    border-radius: 26px;
  }
}

.doctor-slot-section {
  background-color: #e0ebf5;
  border-radius: 26px;
}
.abt-doc-view-more-btn {
  background-color: #0fc0ed;
  padding: 10px;
  border-radius: 26px;
  margin: 12px;
}

.slot-selection-wrapper {
  display: flex;
  justify-content: space-between;

  .date-picker-wrapper {
    flex: 2;
    .MuiDateCalendar-root {
      width: 100%;
      max-height: 100%;
      height: 100%;
    }
    .Mui-disabled {
      background-color: rgb(229, 228, 228);
    }
    .Mui-selected {
      background-color: #0fc0ed !important;
    
      &:hover {
        background-color: #0fc0ed !important;
      }
    }
    
.MuiPickersCalendarHeader-root{
  // margin-right: 20px;
  margin: 0 auto;
  .MuiPickersCalendarHeader-labelContainer{
    margin-right: 40px;
  }
}

    
    .MuiPickersDay-dayWithMargin {
      border: 1px solid rgba(35, 44, 43, 0.12);
      margin: 10px;
      font-family: Manrope;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .MuiDayCalendar-monthContainer {
      overflow: visible;
    }
    .MuiPickersSlideTransition-root {
      min-height: 300px;
      overflow-x: visible;
    }
    .MuiPickersCalendarHeader-label {
      color: #017a99;
      text-align: center;
      font-family: Manrope;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .MuiPickersLayout-root{
      background-color:transparent;
    }
    .MuiDayCalendar-weekDayLabel {
      overflow: visible;
      color: rgba(35, 44, 43, 0.5);

      text-align: center;
      font-family: Manrope;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 10px;
    }
  }
}

.time-slots-wrapper {
  flex: 0.9;
  padding: 20px;
  border: 3px solid rgb(214, 213, 213);
  border-radius: 26px;
  margin-top: 10px;
  .time-slot-sanity-box {
  }
  .time-slot {
    width: 100%;
    background-color: rgb(234, 237, 244);
    border-radius: 26px;
    padding: 12px;
    margin-bottom: 12px;
  }
  .active-slot {
    background-color: #66d4f0;
  }
}

.booking-section {
  .button-style {
    background-color: #0fc0ed;
    border-radius: 26px;
    padding: 12px;
    color: white;
    margin: 20px 0;
  }
}

.booking-conformation-form {
  max-width: 600px;
  margin: 0 auto;
  .book-appointment {
    background-color: #0fc0ed;
    border-radius: 26px;
    padding: 10px;
    margin-top: 15px;
  }
}
